/***************************
* Card
***************************/
%card {
  padding: 15px;
  background-color: $color-white;
  border-radius: 8px;
}

.card {
  @extend %card;
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12);
}

.card-outline {
  @extend %card;
  border: 1px solid #e0e0e0;
}
