@use 'sass:math';
@use 'sass:color';
@use '@styles/variables' as *;

@mixin checkbox-maker(
  $bg-color: $color-primary-light-1,
  $fg-color: #fff,
  $size: 18px
) {
  @if ($size >= 18px) {
    $icon-size: math.round($size * 0.8);

    .check-box__element {
      width: $size;
      height: $size;
      line-height: $size;
      border-radius: math.floor(math.div($size, 8));

      &:after {
        color: $fg-color;
        @if ($icon-size >= 16px) {
          font-size: $icon-size;
        }
      }

      &:hover {
        background-color: color.scale($bg-color, $lightness: 20%);
        border: none;
      }
    }

    .check-box__input:checked + .check-box__element {
      background-color: $bg-color;
      box-shadow: 0 0 3px 0 color.scale($bg-color, $lightness: -7%);
      border: none;

      &:after {
        opacity: 1;
      }
    }
  } @else {
    @error 'Please Enter More 17px';
  }
}
