/**
* Text And Paragraph
*********************************/
@mixin text-size($font-size: 1rem, $line-height: 2em, $font-weight: Normal) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}
