/**
 * Body Font
 * *********************************/
@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: bold;
  src: url('../fonts/eot/iranyekanwebbold.eot');
  src: url('../fonts/eot/iranyekanwebbold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff/iranyekanwebbold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/svg/iranyekanwebbold.svg') format('svg'),
    url('../fonts/ttf/iranyekanwebbold.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/eot/iranyekanwebregular.eot');
  src: url('../fonts/eot/iranyekanwebregular.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff/iranyekanwebregular.woff') format('woff'),
    url('../fonts/svg/iranyekanwebregular.svg') format('svg'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebregular.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/eot/iranyekanwebmedium.eot');
  src: url('../fonts/eot/iranyekanwebmedium.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff/iranyekanwebmedium.woff') format('woff'),
    url('../fonts/svg/iranyekanwebmedium.svg') format('svg'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebmedium.ttf') format('truetype');
}

@font-face {
  font-family: iranyekan;
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/eot/iranyekanwebextrabold.eot');
  src: url('../fonts/eot/iranyekanwebextrabold.eot?#iefix') format('embedded-opentype'),
    /* IE6-8 */
    url('../fonts/woff/iranyekanwebextrabold.woff') format('woff'),
    /* FF3.6+, IE9, Chrome6+, Saf5.1+*/
    url('../fonts/ttf/iranyekanwebextrabold.ttf') format('truetype');
}
