@charset "UTF-8";
@use '@styles/mixins' as *;

* {
  box-sizing: border-box;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  position: relative;
  font-family: IRANYekan, 'Segoe UI', tahoma, Verdana, Arial, sans-serif;
}

html {
  @include text-size(100%);
}
