@charset "UTF-8";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  font-family: IRANYekan, 'Segoe UI', tahoma, Verdana, Arial, sans-serif !important;
  outline: none;
  margin: 0;
  padding: 0;
}

body {
  direction: rtl;
  position: relative;
  @include text-size();
}
