/**
* Page
**************************************/
$page-padding-x: 25px;

/**
* Container
**************************************/
$container-padding-top: 70px;
$container-padding-bottom: 100px;
$container-min-height: 100vh;
