/**
* Page
**************************************/
$page-padding-x: 15px;


/**
* Container
**************************************/
$container-padding-y: 70px;
$container-min-height: 100vh;

