/**
* Black And White
**********************************/
$color-black: #252a34;
$color-white: rgb(255, 255, 255);

/**
* Color Palette
**********************************/

//primary-color series
$color-primary: #21217c;
$color-primary-light-1: #2f2faf;
$color-primary-light-2: #3535c8;
$color-primary-darken-1: #14144a;
$color-primary-darken-2: #0d0d31;

//secondary-color series
$color-secondary: #47e644;
$color-secondary-light-1: #21dc1e;
$color-secondary-light-2: #5be858;
$color-secondary-darken-1: #137b11;
$color-secondary-darken-2: #0a4309;

/**
* Optional Color
************************************/
$color-disable: #ebebeb;
$color-error: #b00020;
$color-red: #cb2027;

/**
* Color Gray
**********************************/
$color-gray: #d3d3d3;
