<!DOCTYPE html>
<html dir="rtl" lang="fa">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>500 Error</title>
    <%= htmlWebpackPlugin.tags.headTags %>
  </head>

  <body>
    <!-- Main -->

    <main id="main">
      <div class="container">
        <h1 class="heading-1 text-center direction-ltr">500 Error</h1>
      </div>
    </main>

    <!-- End Main -->

    <!-- Scripts -->
    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script type="text/javascript">
      $(function () {});
    </script>

    <!-- END Scripts -->
  </body>
</html>
