<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <%= htmlWebpackPlugin.tags.headTags %>
    <script src="scripts/browser.js" async="async"></script>
    <title>base</title>
  </head>

  <body>
    <!-- Check Browsers Support -->
    <script
      type="text/javascript"
      src="scripts/browser.js"
      async="async"
    ></script>
    <!-- Check Browsers Support -->

    <!-- Layout -->
    <root class="layout" id="#layout">
      <!-- Header -->
      <header class="header" id="header"></header>
      <!-- End Header -->

      <!-- Main -->
      <main id="main">
        <div class="container">
          <div class="row">
            <div class="col-xxl-3"></div>
            <div class="col-xxl-3"></div>
            <div class="col-xxl-3"></div>
          </div>
        </div>
      </main>
      <!-- End Main -->

      <!-- Footer -->
      <footer class="footer" id="footer"></footer>
      <!-- End Footer -->
    </root>
    <!-- End Layout -->

    <div class="modal">
      <div class="modal__container"></div>
    </div>
    <!-- Scripts -->
    <%= htmlWebpackPlugin.tags.bodyTags %>

    <script type="text/javascript">
      $(function () {});
    </script>

    <!-- END Scripts -->
  </body>
</html>
