<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>صفحه اصلی</title>
    <%= htmlWebpackPlugin.tags.headTags %>
</head>

<body>
<!-- Header -->

<header class="header" id="header">

</header>

<!-- End Header -->

<!-- Main -->

<main id="main">

    <div class="layout">

    </div>

</main>

<!-- End Main -->

<!-- Footer -->

<footer class="footer" id="footer">

</footer>

<!-- End Footer -->


<!-- Scripts -->
<%= htmlWebpackPlugin.tags.bodyTags %>

<script type="text/javascript">
    $(function() {

    });

</script>

<!-- END Scripts -->

</body>

</html>
