<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Not Support</title>
        <%= htmlWebpackPlugin.tags.headTags %>
    </head>

    <body>
        <!-- Main -->

        <main id="main">
            <div class="container-sm"></div>
        </main>

        <!-- End Main -->

        <!-- Scripts -->
        <%= htmlWebpackPlugin.tags.bodyTags %>

        <script type="text/javascript">
            $(function () {});
        </script>

        <!-- END Scripts -->
    </body>
</html>
