@use '@styles/variables/screens' as *;

%card-shadow {
  box-shadow: none;
  transition: box-shadow ease 100ms;

  &:hover {
    box-shadow: 0px 2px 20px 0px #dee7fa;
  }
}

%card-border-gr {
  padding: 32px;
  border-radius: 32px;

  @media #{$max-width-md} {
    padding-right: 12px;
    padding-left: 12px;
  }
}
