@use "sass:math";

/**
* Grid system
****************************************/

/**
* Row (row)
****************************************/
.row {
    @include flex-row();
    flex-wrap: wrap;
    margin: 0 -15px;
}

.row-reverse {
    @include flex-row(row-reverse);
    flex-wrap: wrap-reverse;
    position: relative;
}

/**
* Column (col)
**************************************/
%initial-col {
    position: relative;
    width: 100%;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px;
}

.col {
    position: relative;
    padding: 0 15px;
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}

// Make col-i class
@for $i from 1 through 12 {
    .col-#{$i} {
        padding: 0 15px;
        flex: 0 0 math.div($i, 12) * 100%;
        max-width: math.div($i, 12) * 100%;
    }
}

.col-auto {
    flex: 0 0 auto;
    max-width: initial;
    width: auto;
}

/**
* Column xxl (col-xxl)
**************************************/
// Make col-xxl-i class
@for $i from 1 through 12 {
    .col-xxl-#{$i} {
        @extend %initial-col;

        @media #{$breakpoint-up-xxl} {
            flex: 0 0 math.div($i, 12) * 100%;
            max-width: math.div($i, 12) * 100%;
        }
    }

    .col-xxl-auto {
        @extend %initial-col;

        @media #{$breakpoint-up-xxl} {
            flex: 0 0 auto;
            max-width: initial;
            width: auto;
        }
    }

    /**
  * Column xl (col-xl)
  **************************************/
    // Make col-xl-i class
    @for $i from 1 through 12 {
        .col-xl-#{$i} {
            @extend %initial-col;

            @media #{$breakpoint-up-xl} {
                flex: 0 0 math.div($i, 12) * 100%;
                max-width: math.div($i, 12) * 100%;
            }
        }
    }

    .col-xl-auto {
        @extend %initial-col;

        @media #{$breakpoint-up-xl} {
            flex: 0 0 auto;
            max-width: initial;
            width: auto;
        }
    }

    /**
  * Column lg (col-lg)
  **************************************/
    // Make col-lg-i class
    @for $i from 1 through 12 {
        .col-lg-#{$i} {
            @extend %initial-col;

            @media #{$breakpoint-up-lg} {
                flex: 0 0 math.div($i, 12) * 100%;
                max-width: math.div($i, 12) * 100%;
            }
        }
    }

    .col-lg-auto {
        @extend %initial-col;

        @media #{$breakpoint-up-lg} {
            flex: 0 0 auto;
            max-width: initial;
            width: auto;
        }
    }

    /**
  * Column md (col-md)
  **************************************/
    // Make col-md-i class
    @for $i from 1 through 12 {
        .col-md-#{$i} {
            @extend %initial-col;

            @media #{$breakpoint-up-md} {
                flex: 0 0 math.div($i, 12) * 100%;
                max-width: math.div($i, 12) * 100%;
            }
        }
    }

    .col-md-auto {
        @extend %initial-col;

        @media #{$breakpoint-up-md} {
            flex: 0 0 auto;
            max-width: initial;
            width: auto;
        }
    }

    /**
  * Column sm (col-sm)
  **************************************/
    // Make col-sm-i class
    @for $i from 1 through 12 {
        .col-sm-#{$i} {
            @extend %initial-col;

            @media #{$breakpoint-up-sm} {
                flex: 0 0 math.div($i, 12) * 100%;
                max-width: math.div($i, 12) * 100%;
            }
        }
    }

    .col-sm-auto {
        @extend %initial-col;

        @media #{$breakpoint-up-sm} {
            flex: 0 0 auto;
            max-width: initial;
            width: auto;
        }
    }

    /**
  * Column xs (col-xs)
  **************************************/
    // Make col-xs-i class
    @for $i from 1 through 12 {
        .col-xs-#{$i} {
            @extend %initial-col;

            @media #{$breakpoint-up-xs} {
                flex: 0 0 math.div($i, 12) * 100%;
                max-width: math.div($i, 12) * 100%;
            }
        }
    }

    .col-xs-auto {
        @extend %initial-col;

        @media #{$breakpoint-up-xs} {
            flex: 0 0 auto;
            width: auto;
        }
    }

    .no-gutters {
        margin-right: 0;
        margin-left: 0;

        > .col,
        > [class*='col-'] {
            padding-right: 0;
            padding-left: 0;
        }
    }
}
