/**
* Grid system
****************************************/

.row {
  @include flex-row();
  flex-wrap: wrap;
  position: relative;
  margin: 0 -15px;
}

.row-reverse {
  @include flex-row(row-reverse);
  flex-wrap: wrap-reverse;
  position: relative;
}

.col {
  position: relative;
  padding: 0 15px;
  max-width: 100%;
  display: flex;
  flex-basis: 0;
  flex-grow: 1;
}