/**
* Display 
*****************************************/

@mixin flex-row($row: row) {
  display: flex;
  flex-direction: $row;
}

@mixin flex-column($column: column) {
  display: flex;
  flex-direction: $column;
}

@mixin inline-block($vertical-align: middle) {
  display: inline-block;
  vertical-align: $vertical-align;
}

@mixin inline($vertical-align: middle) {
  display: inline;
  vertical-align: $vertical-align;
}

@mixin block-right {
  display: block;
  float: right;
}

@mixin block-left {
  display: block;
  float: left;
}
