/**
* Text And Paragraph
*********************************/
@mixin text-size($font-size: 14px, $line-height: 2em, $font-weight: Normal) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;
}

@mixin text-size-responsive($font-size: 14px, $line-height: 2em, $font-weight: Normal) {
  font-size: $font-size;
  line-height: $line-height;
  font-weight: $font-weight;

  @if $font-size <=16px {
    font-size: $font-size - 2;
  }
}