$icomoon-font-family: 'icons' !default;
$icomoon-font-path: '../fonts' !default;

$icon-activity: '\e900';
$icon-airplay: '\e901';
$icon-alert-circle: '\e902';
$icon-alert-octagon: '\e903';
$icon-alert-triangle: '\e904';
$icon-align-center: '\e905';
$icon-align-justify: '\e906';
$icon-align-left: '\e907';
$icon-align-right: '\e908';
$icon-anchor: '\e909';
$icon-aperture: '\e90a';
$icon-archive: '\e90b';
$icon-arrow-down: '\e90c';
$icon-arrow-down-circle: '\e90d';
$icon-arrow-down-left: '\e90e';
$icon-arrow-down-right: '\e90f';
$icon-arrow-left: '\e910';
$icon-arrow-left-circle: '\e911';
$icon-arrow-right: '\e912';
$icon-arrow-right-circle: '\e913';
$icon-arrow-up: '\e914';
$icon-arrow-up-circle: '\e915';
$icon-arrow-up-left: '\e916';
$icon-arrow-up-right: '\e917';
$icon-at-sign: '\e918';
$icon-award: '\e919';
$icon-bell: '\e91a';
$icon-bell-off: '\e91b';
$icon-bluetooth: '\e91c';
$icon-bold: '\e91d';
$icon-book: '\e91e';
$icon-book-open: '\e91f';
$icon-bookmark: '\e920';
$icon-box: '\e921';
$icon-briefcase: '\e922';
$icon-calendar: '\e923';
$icon-camera: '\e924';
$icon-camera-off: '\e925';
$icon-cast: '\e926';
$icon-check: '\e927';
$icon-check-circle: '\e928';
$icon-check-square: '\e929';
$icon-chevron-down: '\e92a';
$icon-chevron-left: '\e92b';
$icon-chevron-right: '\e92c';
$icon-chevron-up: '\e92d';
$icon-chevrons-down: '\e92e';
$icon-chevrons-left: '\e92f';
$icon-chevrons-right: '\e930';
$icon-chevrons-up: '\e931';
$icon-chrome: '\e932';
$icon-circle: '\e933';
$icon-clipboard: '\e934';
$icon-clock: '\e935';
$icon-code: '\e937';
$icon-codepen: '\e938';
$icon-codesandbox: '\e939';
$icon-coffee: '\e93a';
$icon-columns: '\e93b';
$icon-command: '\e93c';
$icon-compass: '\e93d';
$icon-copy: '\e93e';
$icon-corner-down-left: '\e93f';
$icon-corner-down-right: '\e940';
$icon-corner-left-down: '\e941';
$icon-corner-left-up: '\e942';
$icon-corner-right-down: '\e943';
$icon-corner-right-up: '\e944';
$icon-corner-up-left: '\e945';
$icon-corner-up-right: '\e946';
$icon-cpu: '\e947';
$icon-credit-card: '\e948';
$icon-crop: '\e949';
$icon-crosshair: '\e94a';
$icon-database: '\e94b';
$icon-delete: '\e94c';
$icon-disc: '\e96c';
$icon-dollar-sign: '\e94d';
$icon-download: '\e94e';
$icon-download-cloud: '\e94f';
$icon-droplet: '\e950';
$icon-edit: '\e951';
$icon-edit-2: '\e952';
$icon-edit-3: '\e953';
$icon-external-link: '\e954';
$icon-eye: '\e955';
$icon-eye-off: '\e956';
$icon-facebook: '\e957';
$icon-fast-forward: '\e958';
$icon-feather: '\e959';
$icon-figma: '\e95a';
$icon-file: '\e95b';
$icon-file-minus: '\e95c';
$icon-file-plus: '\e95d';
$icon-file-text: '\e95e';
$icon-film: '\e95f';
$icon-filter: '\e960';
$icon-flag: '\e961';
$icon-folder: '\e962';
$icon-folder-minus: '\e963';
$icon-folder-plus: '\e964';
$icon-framer: '\e965';
$icon-frown: '\e966';
$icon-gift: '\e967';
$icon-git-branch: '\e968';
$icon-git-commit: '\e969';
$icon-git-merge: '\e96a';
$icon-git-pull-request: '\e96b';
$icon-globe: '\e96d';
$icon-grid: '\e96e';
$icon-hard-drive: '\e96f';
$icon-hash: '\e970';
$icon-headphones: '\e971';
$icon-heart: '\e972';
$icon-help-circle: '\e973';
$icon-hexagon: '\e974';
$icon-home: '\e975';
$icon-image: '\e976';
$icon-inbox: '\e977';
$icon-info: '\e978';
$icon-instagram: '\e979';
$icon-italic: '\e97a';
$icon-key: '\e97b';
$icon-layers: '\e97c';
$icon-layout: '\e97d';
$icon-life-buoy: '\e97e';
$icon-link: '\e97f';
$icon-link-2: '\e980';
$icon-linkedin: '\e981';
$icon-list: '\e982';
$icon-loader: '\e983';
$icon-lock: '\e984';
$icon-log-in: '\e985';
$icon-log-out: '\e986';
$icon-mail: '\e987';
$icon-map: '\e988';
$icon-map-pin: '\e989';
$icon-maximize: '\e98a';
$icon-maximize-2: '\e98b';
$icon-meh: '\e98c';
$icon-menu: '\e98d';
$icon-message-circle: '\e98e';
$icon-message-square: '\e98f';
$icon-mic: '\e990';
$icon-mic-off: '\e991';
$icon-minimize: '\e992';
$icon-minimize-2: '\e993';
$icon-minus: '\e994';
$icon-minus-circle: '\e995';
$icon-minus-square: '\e996';
$icon-monitor: '\e997';
$icon-moon: '\e998';
$icon-more-horizontal: '\e999';
$icon-more-vertical: '\e99a';
$icon-mouse-pointer: '\e99b';
$icon-move: '\e99c';
$icon-music: '\e99d';
$icon-navigation: '\e99e';
$icon-navigation-2: '\e99f';
$icon-octagon: '\e9a0';
$icon-package: '\e9a1';
$icon-paperclip: '\e9a2';
$icon-pause: '\e9a3';
$icon-pause-circle: '\e9a4';
$icon-pen-tool: '\e9a5';
$icon-percent: '\e9a6';
$icon-phone: '\e9a7';
$icon-pie-chart: '\e9a8';
$icon-play: '\e9a9';
$icon-play-circle: '\e9aa';
$icon-plus: '\e9ab';
$icon-plus-circle: '\e9ac';
$icon-plus-square: '\e9ad';
$icon-pocket: '\e9ae';
$icon-power: '\e9af';
$icon-printer: '\e9b0';
$icon-radio: '\e9b1';
$icon-refresh-ccw: '\e9b2';
$icon-refresh-cw: '\e9b3';
$icon-repeat: '\e9b4';
$icon-rewind: '\e9b5';
$icon-rotate-ccw: '\e9b6';
$icon-rotate-cw: '\e9b7';
$icon-rss: '\e9b8';
$icon-save: '\e9b9';
$icon-scissors: '\e9ba';
$icon-search: '\e9bb';
$icon-send: '\e9bc';
$icon-server: '\e9bd';
$icon-settings: '\e9be';
$icon-share: '\e9bf';
$icon-share-2: '\e9c0';
$icon-shield: '\e9c1';
$icon-shield-off: '\e9c2';
$icon-shopping-bag: '\e9c3';
$icon-shopping-cart: '\e9c4';
$icon-sidebar: '\e9c5';
$icon-skip-back: '\e9c6';
$icon-skip-forward: '\e9c7';
$icon-slack: '\e9c8';
$icon-slash: '\e9c9';
$icon-sliders: '\e9ca';
$icon-smartphone: '\e9cb';
$icon-smile: '\e9cc';
$icon-speaker: '\e9cd';
$icon-square: '\e9ce';
$icon-star: '\e9cf';
$icon-stop-circle: '\e9d0';
$icon-sun: '\e9d1';
$icon-sunrise: '\e9d2';
$icon-sunset: '\e9d3';
$icon-tablet: '\e9d4';
$icon-tag: '\e9d5';
$icon-terminal: '\e9d6';
$icon-thermometer: '\e9d7';
$icon-thumbs-down: '\e9d8';
$icon-thumbs-up: '\e9d9';
$icon-tool: '\e9da';
$icon-trash: '\e9db';
$icon-trash-2: '\e9dc';
$icon-trello: '\e9dd';
$icon-trending-down: '\e9de';
$icon-trending-up: '\e9df';
$icon-triangle: '\e9e0';
$icon-truck: '\e9e1';
$icon-tv: '\e9e2';
$icon-twitch: '\e9e3';
$icon-twitter: '\e9e4';
$icon-type: '\e9e5';
$icon-umbrella: '\e9e6';
$icon-underline: '\e9e7';
$icon-unlock: '\e9e8';
$icon-upload: '\e9e9';
$icon-upload-cloud: '\e9ea';
$icon-user: '\e9eb';
$icon-user-check: '\e9ec';
$icon-user-minus: '\e9ed';
$icon-user-plus: '\e9ee';
$icon-user-x: '\e9ef';
$icon-users: '\e9f0';
$icon-voicemail: '\e9f3';
$icon-watch: '\e9f8';
$icon-wind: '\e9f9';
$icon-x: '\e9fa';
$icon-x-circle: '\e9fb';
$icon-x-octagon: '\e9fc';
$icon-x-square: '\e9fd';
$icon-youtube: '\e9fe';
$icon-zoom-in: '\ea01';
$icon-zoom-out: '\ea02';
